/**
 * Font Imports
 * Importing Google Fonts Cormorant SC and Poppins
 * Author: Sukanto Chatterjee @ Cybogeek
 * https://github.com/Cybogeek/Fyle-Webpage
 */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**/

/* Body styles */
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* Header styles */
h1 {
  font: normal normal bold 60px/80px Cormorant SC;
}

/* Hero section styles */
.hero h5 {
  font: normal normal 600 30px/110px Cormorant SC;
  color: #ff3147;
  text-align: start;
}

/* Button styles */
.prime-color {
  background-color: #ff3147;
  color: #fff;
  font: normal normal 600 14px/26px Poppins;
  letter-spacing: 1.4px;
}

/* Scroll section and growth section styles */
.scroll-section,
.growth {
  background-color: #fafafa;
}

/* Carousel indicators styles */
.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  opacity: 1;
  margin-right: 12px;
  margin-left: 12px;
}
.carousel-indicators {
  bottom: -81px;
  left: -150px;
  justify-content: start;
  align-items: center;
}
.carousel-indicators .active {
  width: 30px;
  height: 30px;
  background-color: #ff3147;
  background: url('../images/1.svg') no-repeat;
}

/* Feature icon styles */
.feature-icon img {
  height: 70px;
}

/* Feature section title styles */
.feature > h2 {
  font-size: 20px;
  line-height: 80px;
  font-family: "Poppins";
}

/* Generic heading styles */
h6 {
  font: normal normal medium 20px/80px Poppins;
}

/* Generic heading styles */
h5 {
  font: normal normal 600 24px/26px Cormorant SC;
  color: #ff3147;
  text-align: center;
}

/* Lead paragraph styles */
.lead {
  font: normal normal normal 16px/30px Poppins;
}

/* Subsection title styles */
h4 {
  font: normal normal bold 45px/65px Cormorant SC;
  text-align: center;
}

/* Media query for larger screens */
@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 auto;
    width: 25%;
  }
}

/* Carousel item styles */
.carousel-item {
  padding: 1em;
}

/* Card styles */
.card {
  margin: 0.5em;
}

/* Carousel caption styles */
.carousel-caption {
  opacity: 0;
  background-color: #ff3147;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  border-radius: inherit;
  transition: opacity 0.3s ease-in-out;
}
.card:hover > .carousel-caption {
  opacity: 1;
}

/* Content box styles */
.content-box {
  background-color: #f6f6f6;
  padding: 24px;
  transition: background-color 0.3s ease-in-out, font 0.3s ease-in-out;
}
.active-content {
  background-color: #ff3147;
  color: #fff;
}

/* Hover effect for boxes */
.h-box {
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
}
.h-box img {
  width: 36px;
  height: 36px;
  margin: 8px auto;
}
.h-box h3 {
  font: normal normal 300 60px/65px Poppins;
}
.h-box p {
  font-size: 20px;
  font-weight: 300;
}
.h-box:hover {
  box-shadow: 3px 6px 20px #672c2c1f;
}

/* Client feedback styles */
.client {
  font: normal normal 300 20px/34px Poppins;
  color: #808080;
}
.client span {
  color: #ff3147;
  font-weight: bold;
}
.client-msg {
  background: transparent url("../images/Quotemarks-left.svg") 0% 0% no-repeat
    padding-box;
}

/* Footer styles */
footer {
  background-color: #ff3147;
}

/* Form control styles */
.form-control {
  border: none;
  border-bottom: 2px solid #6f718f99; /* Underline */
  outline: none;
}

/* Modal title styles */
.modal-title {
  font-family: AktivGrotesk, "poppins", sans-serif;
  font-size: 20px;
}

/* Custom button styles */
.c-btn {
  background-color: #f4f4f4;
  margin: 8px auto;
}

/* Additional carousel caption styles */
.carousel-caption h3 {
  font: normal normal 600 24px/26px Cormorant SC;
}
.carousel-caption p {
  font: normal normal normal 16px Poppins;
}
